////////////////////////////
/// 1. Patron de colores ///
////////////////////////////

$principal: #830734;
$secundario: #484848;
$color-adicional-1: #ECECE1; /* Blanco suave */
$color-adicional-2: #A4795C; /* Marrón suave */
$color-adicional-3: #1D2131; /* Azul oscuro */
$color-adicional-4: #1a682d; /* Blanco muy suave */
$color-adicional-5: #948EA3; /* Gris lavanda */
$color-adicional-6: #B94558; /* Rosa intenso */
$color-adicional-7: #040304; /* Morado oscuro */
$background-color-1: #FAFAFA;
$text-color-1: #e5dfdf;

////////////////////////////////////
/// 2. Modificación de Bootstrap ///
////////////////////////////////////